body{
    background: #eee;
    font-family: 'Nunito SemiBold';
    margin: 0px
}

#main h1{
    color: #444;
    text-align: center;
}

#main{
    box-sizing: border-box;
    padding-right: 16px;
    padding-left: 16px;
    width: 100vw;
    min-height: 100vh;
}

#book-list{
    padding: 0;
}

#book-list li{
    display: inline-block;
    margin: 12px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #880E4F;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
    cursor: pointer;
    color: #880E4F;
}

form{
    background: #fff;
    display: flex;
    flex-direction: row;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 400px;
    padding-bottom: 70px;
}

form .field{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

form label{
    padding: 6px;
    width: 150px;
    display: block;
}

form input, form select{
    margin: 4px 0;
    padding: 6px;
    width: 250px;
    box-sizing: border-box;
}

form button{
    color: #3C2A21;
    position: absolute;
    right: 20px;
    cursor: pointer;
    font-size: 2em;
    background: #D5CEA3;
    border: 0;
    padding: 0 10px;
    border-radius: 50%;
    cursor: pointer;
    bottom: 10px;
}

#book-details{
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background: #AD1457;
    padding: 30px;
    overflow: auto;
    box-shadow: -2px -3px 5px rgba(0,0,0,0.3);
    box-sizing: border-box;
    color: #fff;
}
